.carrousel_inner ul li{
    float:left;
    list-style: none;
    margin: 0;
    padding: 0 12.5px;
    width:337px;
    height:700px
}
.carrousel_inner ul{
    margin:0;
    padding:0;
    height:700px;
    width: 10000px;
    overflow:hidden;
}
.carrousel_inner{
    /* border:1px solid red; */
    float:left;
    width:679px;
    height:700px;
    overflow: hidden;
}
.carrousel_left, .carrousel_right{
    height: 200px;
    width:30px;
    float:left;
    margin-top: 127px;
}
.carrousel_left{

    background: url('nav_left.png') no-repeat  left top;
}
.carrousel_left:hover{
    background:url("nav_left.png") no-repeat scroll -50px top transparent
}
.carrousel_right{
    background: url('nav_right.png') no-repeat right top;
}
.carrousel_right:hover{
    background: url('nav_right.png') no-repeat -70px top;
}
.left_inactive,.left_inactive:hover{
    background: url('nav_left.png') no-repeat -100px top;
}
.right_inactive,.right_inactive:hover{
    background: url('nav_right.png') no-repeat -20px top;
}

.carrousel{
    height: 200px;
    margin: 0 auto;
    width: 100%;
    padding: 0px;
}

/* demo page */
.container{
    width:960px;
    margin:0 auto;
}
.link{
     background-color: #4d1414;
    border: 3px solid gray;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 1px 5px black;
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-right: 5px;
    padding: 6px;
    text-decoration: none;
}
h1{
    margin-bottom:100px;
    font-family: Volkhov tahoma;
    border-bottom: 2px solid blueviolet;
    padding:5px;
    color:blueviolet;
    text-shadow:1px 1px black;
}